alias k=kubectl
alias kctx=kubectx
alias kns=kubens

# Set aliases while in WSL
if ! [ -z "$WSL_DISTRO_NAME" ]
then
  alias approvals="python3.8 /mnt/c/Users/wbhegedus/bitbucket/wbh/scripts/servicenow/approveCHGs.py"
  alias movechg="python3.8 /mnt/c/Users/wbhegedus/bitbucket/wbh/scripts/servicenow/moveCHG.py"
fi