# K8s
alias k=kubectl
alias kctx=kubectx
alias kns=kubens

# Linode
alias lin=linode-cli

# Git
alias gsync="gcm && glum && gp"

# Copy SSH key to clipboard (MacOS)
alias cpssh="pbcopy < ~/.ssh/id_rsa.pub"

# Todoist
alias td="todoist"
alias today="td l -f '(today | overdue)'"

# Set aliases while in WSL
if ! [ -z "$WSL_DISTRO_NAME" ]
then
  alias approvals="cd ~/bitbucket/wbh/scripts && pipenv run python ~/bitbucket/wbh/scripts/servicenow/approveCHGs.py"
  alias movechg="cd ~/bitbucket/wbh/scripts && pipenv run python ~/bitbucket/wbh/scripts/servicenow/moveCHG.py"
fi
